<nav class="navbar navbar-expand-xl bg-light navbar-light">
<div class="btn-group btn-group-sm.navbar-nav-expand-xl ">
  <button type="button" class="btn btn-primary" disabled="true">New</button>
  <button type="button" class="btn btn-primary" disabled="true" >Open</button>
  <button type="button" class="btn btn-primary"><i class="fa fa-save"></i>Save</button>
  <button type="button" class="btn btn-primary" (click)="addTextArea($event)">Chapter</button>
  <button type="button" class="btn btn-primary">Section</button>
  <button type="button" class="btn btn-primary">Subsection</button>
  <button type="button" class="btn btn-primary"><i class="fa fa-table" disabled="true"></i>Table</button>
  <button type="button" class="btn btn-primary"><i class="fa fa-image" disabled="true"></i>Image</button>
  <button type="button" class="btn btn-primary"><i class="fa fa-bold"></i></button>
  <button type="button" class="btn btn-primary"><i class="fa fa-italic"></i></button>
  <button type="button" class="btn btn-primary"><i class="fa fa-underline"></i></button>
  <!-- <button type="button" class="btn btn-primary"><i class="fa fa-superscript"></i></button>
  <button type="button" class="btn btn-primary"><i class="fa fa-subscript"></i></button>
   -->
  <button type="button" class="btn btn-primary"><i class="fa fa-undo" disabled="true"></i></button>
  <button type="button" class="btn btn-primary"><i class="fa fa-repeat" disabled="true"></i></button>
  <button type="button" class="btn btn-primary"><i class="fa fa-cut" disabled="true"></i></button>
  <button type="button" class="btn btn-primary"><i class="fa fa-copy" disabled="true"></i></button>
  <button type="button" class="btn btn-primary"><i class="fa fa-paste" disabled="true"></i></button>
  <button type="button" class="btn btn-primary"><i class="fa fa-list" ></i></button>
  <button type="button" class="btn btn-primary"><i class=""></i>List</button>
  <button type="button" class="btn btn-success">Generate Report</button>
</div>

</nav>