<div style="padding-top: 200px">
    <button (click)="addChapter()">Chapter</button>
    <form>
        <div *ngFor="let textarea of chapterList; let textarea_index= index">
            <textarea name="{{textarea}}"></textarea>
            <button (click)="removeTextArea(textarea_index)">Remove</button>
        </div>
    </form>
</div>
<div style="padding-top: 200px">
    <button (click)="addTextArea()">Chapter</button>
    <form>
        <div *ngFor="let textarea of sectionList; let textarea_index= index">
            <textarea name="{{textarea}}"></textarea>
            <button (click)="removeTextArea(textarea_index)">Remove</button>
        </div>
    </form>
</div>